__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.env
.venv/
venv/
conda-env/
*.egg-info/

data/
raw_data/
processed_data/
features/
*.wav
*.mp3
*.mp4
*.flac
*.csv
*.tsv
*.pkl
*.npy
*.npz
*.pt
*.dic
*.liwc

outputs/*
!outputs/.gitkeep

.DS_Store
